.container {
  padding: 0 5rem;
}

.outdoor {
  border: 1px solid red;
  display: flex;
  /* width: max-content; */
  gap: 2rem;
}

.outdoor, .slide, .slide img {
  border-radius: 12px;
}

.bullet {
  background: yellow;
  display: inline-block;
  width: 8px;
  height: 8px;
}

.carouselFade {
  background: linear-gradient(90deg,var(--bw-50),transparent 15%,transparent 85%,var(--bw-50));
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  top: 0;
  inset: 0;
  pointer-events: none;

}

@media (max-width: 700px) {
  .container {
    padding: 20px;
  }
  
  .outdoor, .slide, .slide img {
    border-radius: 8px;
  }
}