.container {
  /* border: 1px solid red; */
  max-width: 80rem;
  margin: 0 auto;
  padding: 20px 5rem;
 
  position: sticky;
  top: 0;
  z-index: 999;

  transition: padding .3s ease-in-out;

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-500);
  padding: 1.25rem 1.5rem;
  border-radius: 12px;
}

.logo {
  max-width: 8.25rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav .link {
  font-size: 1.25rem;
  color: var(--bw-100);
  font-weight: 600;
}

.nav .buttonAd {
  background: var(--yellow-gradient);
  padding: 0.75rem 1rem;
  border-radius: 6px;
  transition: transform .2s ease-in;
}

.nav .buttonAd:hover {
  /* color: var(--secondary-500); */
  /* box-shadow: inset 200px 0px 0 0 var(--secondary-300); */
  transform: scale(.9);
}


.buttonAd .h2 {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-700);
  transition: color .3s ease-in;
}

/* .buttonAd:hover .h2 {
} */

.container.scroll {
  padding: 20px 2.5rem;
  transition: padding .3s ease-in-out;
}

.scroll .header {
  border: 2px solid var(--secondary-500);

  transition: border .3s ease-in, width 1s ease-in;
}

@media (max-width: 700px) {
  .container {
    padding: 0;
  }

  .header {
    border-radius: 0;
    padding: 1rem 1rem;
  }

  .logo {
    max-width: 6.25rem;
  }

  .nav {
    gap: 1rem;
  }

  .nav .link {
    font-size: 1rem;
  }

  .buttonAd {
    padding: 0.5rem 0.75rem;
  }

  .buttonAd h2 {
    font-size: 1rem;
  }

  .container.scroll {
    padding: 12px;
  }

  .scroll .header {
    border-radius: 6px;
  }
}