.container {
  padding: 0 80px;
  position: relative;
  /* margin-bottom: 10rem; */
}

/* .background {
  height: 400px;
} */

.background img {
  border-radius: 12px;
}

.content {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  margin-top: -6rem;
  align-items: center;
  /* justify-content: center; */
  gap: 3rem;
  position: relative;
}

.profileImg {
  border-radius: 8px;
  max-width: 20rem;
}

.profileImg img {
  border-radius: 8px;
  border: 4px solid var(--secondary-400);
  box-shadow: var(--shadow);
}


@media (max-width: 700px) {
   .container {
    padding: 0px 0px;
   }

   .background img {
    border-radius: 0;
    border-top: 2px solid var(--secondary-500);
    /* border-radius: 6px; */
  }

   .profileImg {
    max-width: 12rem;
   }

   .content {
    margin-top: -4rem;
    gap: 1.5rem;
   }

}