.container {
  padding: 0 80px;
  position: relative;
  /* margin-bottom: 10rem; */
}

/* .background {
  height: 400px;
} */

.background img {
  border-radius: 12px;
}

.content {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  margin-top: -6rem;
  align-items: center;
  /* justify-content: center; */
  gap: 3rem;
  position: relative;
}

.profileImg {
  border-radius: 8px;
  max-width: 20rem;
}

.profileImg img {
  border-radius: 8px;
  border: 4px solid var(--secondary-400);
  box-shadow: var(--shadow);
}

.tags {
  /* border: 1px solid red; */
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-bottom: 1rem; */
  /* position: absolute; */
}

.tags .tag {
  font-weight: 700;
  color: var(--bw-950);
  font-size: 1rem;
  border: 2px solid var(--primary-500);
  border-radius: 32px;
  padding: 4px 16px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;

  transition: background .1s ease-in, color .3s ease-in;
}

.tags .tag::after {
  content: 'ver mais sobre';
  width: max-content;
  padding: 6px 8px;

  background: var(--primary-500);
  font-weight: 500;
  font-size: 10px;
  color: var(--secondary-500);
  border-radius: 6px;

  position: absolute;
  left: 50%;
  top: -90%;
  transform: translateX(-50%);
  display: none;
  opacity: 0;
  z-index: 10;
}

.tags .tag:hover {
  background: var(--primary-500);
  color: var(--secondary-500);
}


.tags .tag:hover::after{
  animation: animePopup .3s forwards ease-in-out;
  display: block;
}

@keyframes animePopup {
  100% {
    opacity: 1;
    top: -110%;
  }
}

@media (max-width: 700px) {
   .container {
    padding: 0px 0px;
   }

   .background img {
    border-radius: 0;
    border-top: 2px solid var(--secondary-500);
    /* border-radius: 6px; */
  }

   .profileImg {
    max-width: 12rem;
   }

   .content {
    margin-top: -4rem;
    gap: 1.5rem;
   }

   .tags .tag {
    font-size: .5rem;
    padding: 2px 8px;
   }

   .tags .tag::after {
    width: max-content;
    padding: 6px 8px;
  
    font-size: 8px;
    border-radius: 6px;
  }

  .tags .tag:hover::after{
    animation: animePopup .3s forwards ease-in-out;
    display: block;
  }
  
  @keyframes animePopup {
    100% {
      opacity: 1;
      top: -170%;
    }
  }
}