.header {
  padding: 0px 5rem;
}

.listCards {
  padding: 2.5rem 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.tagsContainer {
  padding: 2.5rem 0;

}

@media (max-width: 700px) {
  .header {
    padding: 1.25rem;
  }

  .listCards {
    justify-content: center;
    padding: 1.25rem 1.25rem;
  }

 
}